<h1 class="text-xl text-green-700">
  <%= t("common.about").capitalize %>
</h1>

<p class="mt-4">
  Joe Sak is a Relationship Coach, certified by The Relationship School<sup>&reg;</sup>
  as a Level 1 Relationship Coach for Individuals.
</p>
